@page "/fetchdata"

@if (list is null)
{
    <span>Loading</span>
}
else
{
    @foreach (var line in list)
    {
        <div>
            @foreach (var msg in line)
            {
                <span style="margin-left:10px;">@msg</span>
            }
        </div>
    }
}




@code {
    [Inject]
    protected SpreadsheetsParser spreadsheetsParser { get; set; }
    List<string[]> list;
    protected override async Task OnInitializedAsync()
    {

        list = await spreadsheetsParser.GetDataFromSpreadsheetsAsync("https://docs.google.com/spreadsheets/u/4/d/1QXdMl_f_KSzjiMKatnw4MGoLjrf_hpO9SL8tuH65VUs/export?format=csv&gid=0");
    }


}
